<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome to DevRate!</title>
</head>
<body>
<p>Dear <span th:text="${user.firstName}"></span>,</p>

<p>Welcome to DevRate, the community where developers can be interviewed by other developers. We are
  thrilled to have you join us!</p>

<p>DevRate is a platform designed to facilitate technical interviews, share knowledge, and build
  connections within the developer community. Whether you're here to seek advice, share your
  expertise, or simply connect with fellow developers, you're in the right place.</p>

<p>To get started, here are a few things you can do:</p>
<ul>
  <li>Complete your profile to let others know about your skills and experiences.</li>
  <li>Explore our community forums to engage in discussions and ask questions.</li>
  <li>Browse through interviews conducted by other developers to learn from their experiences.</li>
  <li>Connect with other developers by sending friend requests and joining interest groups.</li>
</ul>

<p>If you have any questions or need assistance, feel free to reach out to our support team at
  support@devrate.com.</p>

<p>Once again, welcome to DevRate! We're excited to see what you'll accomplish within our
  community.</p>

<p>Best regards,<br/>The DevRate Team</p>
</body>
</html>
