<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ласкаво просимо до Skillzzy!</title>
</head>
<body>
<p>Шановний(а)<span th:text="${user.firstName}"></span>, </p>

<p>Ласкаво просимо до Skillzzy — спільноти, де розробників інтерв’юють інші розробники.
  Ми дуже раді, що ви приєдналися до нас!</p>

<p>Skillzzy — це платформа, створена для практики проведення та проходження співбесід, обміну знаннями
  та пошуку нових знайомств. Незалежно від того, чи ви тут, щоб отримати поради, поділитися
  досвідом або знайти однодумців — ви в правильному місці.</p>

<p>Щоб почати, ось кілька порад:</p>
<ul>
  <li>Заповніть свій профіль, щоб інші могли дізнатися про ваші навички та досвід.</li>
  <li>Створіть свою експертизу у тому чи іншому напрямку, на сторінці Спеціалізації.</li>
  <li>Подавайте бажану кількість заявок на інтерв'ю у зручний для вас час.</li>
  <li>Знайомтеся з іншими розробниками.</li>
</ul>

<p>Якщо у вас виникнуть запитання або потрібна допомога, звертайтесь до нашої служби підтримки
  за адресою <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

<p>Ще раз дякуємо за приєднання до Skillzzy! Ми з нетерпінням чекаємо на ваші досягнення в нашій спільноті.</p>

<p>З повагою,<br/>Команда Ratifire</p>
</body>
</html>
