<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Interview Details</title>
</head>
<body>
<div class="container">
  <p>Dear <span th:text="${user.firstName}"></span>,</p>

  <p>We are pleased to inform you that we have found a candidate for you to interview. Below are the details:</p>

  <p><strong>Interview Details:</strong></p>
  <p><strong>Time:</strong> <span th:text="${interviewTime}"></span></p>
  <p><strong>Candidate Name:</strong> <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
  <p><strong>Candidate Specialization:</strong> <span th:text="${specialization.name}"></span></p>
  <p><strong>Candidate Hard Skills:</strong></p>
  <ul>
    <li th:each="skill : ${skills}" th:text="${skill.name}"></li>
  </ul>

  <p>We appreciate your dedication and effort in providing valuable feedback and helping us ensure the best fit for our candidates.</p>

  <p>Thank you for using DevRate!</p>
  <p>Best regards,<br/>The DevRate Team</p>
</div>
</body>
</html>
