<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Інтерв'ю скасовано</title>
</head>
<body>
<div class="container">
  <p>Шановний(а)<span th:text="${recipientUser.firstName}"></span>, </p>

  <p>Інтерв’ю з <span th:text="${rejectionUser.firstName}"></span>, яке було заплановано на <span th:text="${scheduledTime}"></span>,
    <span>було скасовано. Але не хвилюйтесь! Ми вже у пошуках нового кандидата саме для вас, найближчим часом нове інтерв’ю буде створено і
      ми оперативно повідомимо вас.</span></p>

  <p>Якщо у вас виникли запитання або потрібна додаткова допомога, будь ласка, зверніться до нашої служби підтримки за
    адресою <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

  <p>Дякуємо, що користуєтесь Skillzzy!</p>
  <p>З повагою,<br/>Команда Ratifire</p>
</div>
</body>
</html>