<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Термін дії запиту на інтерв’ю завершився</title>
</head>
<body>
<div class="container">
  <p>Шановний(а)<span th:text="${user.firstName}"></span>, </p>

  <p>Повідомляємо, що термін дії вашого запиту на інтерв’ю завершився.</p>

  <p>Якщо ви все ще бажаєте пройти інтерв’ю, будь ласка, створіть новий запит якнайшвидше.</p>

  <p>Якщо у вас виникли запитання або потрібна допомога, звертайтесь до нашої служби підтримки
    за адресою <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

  <p>Дякуємо, що користуєтесь Skillzzy!</p>
  <p>З повагою,<br/>Команда Ratifire</p>
</div>
</body>
</html>